.title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.12;
    text-transform: capitalize;
    color: #212B36;
    margin-bottom: 15px;
}
.subtitle{
    font-weight: 500;
    /* text-align: center; */
    margin: 0 auto;
    color: #637381;
    max-width: 550px;
    font-size: 16px;
}
.top-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #3056D3;
}
.left{
    /* margin: 0; */
    text-align: left;
}
.left-subtitle{
    margin: 0;
}
.headline{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: #212B36;
}
.price{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #212B36;
}