@import url("reset.css");

.title{
    color: rgb(238, 7, 7);
}
.description{
    color: rgb(155, 41, 155);
}
.translate_tags p{
    color: blue;
}
.emergence_tags h2{
    color: crimson;
}
[class*="__tags"]{
    color: green;
}
.kind_tags{
    color: deeppink;
}

footer>p{
    color:midnightblue;
}