@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

body{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #6C757D;
    margin: 0 100px;
}

.title{
    max-width: 400px;
    font-size: 25px;
    font-weight: 700;
    color:#212529 ;
    margin-bottom: 40px;
    
    
}
p{
    margin-bottom: 20px;
}

.text{
   max-width: 816px;
   margin: 0 auto;
}

.second_title{
    max-width: 600px;
}


 img {
   margin: 80px 0 ;
   max-width: 100%;
   
} 
.two_image{
    font-size: 0;
}
.two_image>img{
    font-size: 14px;
    width:49%;
    display: inline-block;
    /* margin: 0 auto; */
    padding: 0 15px 0  10px;
}

